.container {
  position: relative;
  align-items: center;
  min-height: 100vh;
  background-image: url("/about.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 1px black;
}
